body {
  min-height: 100%;
  background-color: black;
  color: grey;
  font-size: 150%;
  padding: 0;
  margin: 0;
}

p {
  text-indent: 0.5in;
}

h1 {
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}


